.AdminNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.AdminNav > a {
  padding: 10px;
  width: 150px;
  text-align: center;
  border: 1px solid #aaa;
}
